.contacts {
    border: 2px solid red;
}

main {
    height: 88vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 10rem;
}

.title-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
}
h1 {
    font-size: 4rem;
    font-weight: lighter;
}
h2 {
    font-size: 5rem;
}


header, footer {
    height: 6vh;
}

h1 {
    font-size: 3rem;
    font-weight: lighter;
    color: var(--frost);
    list-style: none;
    text-transform: uppercase;
    padding-left: 10rem;
}
h2 {
    font-size: 1.5rem;
    font-weight: lighter;
    color: var(--frost);
}