li {
    font-size: 2rem;
    color: var(--font);
    list-style: none;
    text-transform: uppercase;
}
.nav-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 1rem 10rem 1rem 10rem;
}
.nav-menu li {
    display: flex;
    align-items: center;
}


.nav-top, .nav-bottom {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--font);
}


.nav-menu a:link {
    text-decoration: none;
    color: var(--frost)
}
.nav-menu a:visited {
    text-decoration: none;
    color: var(--frost);
}
.nav-menu a:hover {
    color: var(--clicked);
}


main {
    flex: 18;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 10rem;
}

.title-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
}
h1 {
    font-size: 4rem;
    font-weight: lighter;
}
h2 {
    font-size: 5rem;
}


header, footer {
    flex: 1;   
}

img.landing-logo {
    width: 3rem;
    height: auto;
    align-self: center;
    object-fit: contain;
}

.nav-top, .nav-bottom {
    height: 5vh;
}