header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 6vh;
    background-color: var(--font);
}
h1 {
    font-size: 3rem;
    font-weight: lighter;
    color: var(--frost);
    list-style: none;
    text-transform: uppercase;
    padding-left: 10rem;
}


main {
    display: flex;
    justify-content: center;
    align-items: center;
    /*height: 88vh;*/
    padding: 4rem 0;
}

img.cv {
    width: 60%;
    max-width: 80rem;
    height: auto;
    border-radius: 5px;
    display: block;
}


footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--font);
    height: 6vh;
}

.copy {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.copy a:link {
    text-decoration: none;
    color: var(--frost);
    font-size: 1.5rem;
    font-weight: light;
}
.copy a:visited {
    text-decoration: none;
    color: var(--frost)
}
.copy a:hover {
    color: var(--clicked);
}


h2 {
    font-size: 1.5rem;
    font-weight: lighter;
    color: var(--frost);
}